<%= turbo_stream.replace "forecast-result" do %>
  <% if flash[:alert] %>
    <div class="mb-4 p-3 rounded bg-red-100 text-red-700 text-center">
      <%= flash[:alert] %>
    </div>
  <% elsif @forecast.present? %>
    <%= render partial: "forecasts/show_card", locals: { forecast: @forecast, from_cache: @from_cache } %>
  <% end %>
<% end %>
